[Desktop Entry]
Type=Application
Name=IRIS
Comment=SGI Indy and Indigo2 emulator
Exec=iris-gui
Icon=iris-gui
Categories=Emulator;Game;
Terminal=false
StartupNotify=true
